<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-T9EveKnHs6SuxpsVIT51MBjCdECS_zQ</string>
	<key>GCM_SENDER_ID</key>
	<string>317214946317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.garciatomaschavez.UIKit-AppExampleVideogames</string>
	<key>PROJECT_ID</key>
	<string>first-project-videogames</string>
	<key>STORAGE_BUCKET</key>
	<string>first-project-videogames.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317214946317:ios:a4812a601c4ebee2969144</string>
	<key>DATABASE_URL</key>
	<string>https://first-project-videogames-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>